.vscode/*
.vscode/**/*

searx/core-config/settings.yml
gitea/*
gitea/** */
web/html/*
web/html/** */
proxy/data/*
proxy/data/** */
proxy/config/*
proxy/config/** */
searx/core-data/*
searx/core-data/** */
searx/valkey-data/*
searx/valkey-data/** */
