viljarb.online {
	reverse_proxy web:80
}
www.viljarb.online {
	reverse_proxy web:80
}
gitea.viljarb.online {
	reverse_proxy gitea:3000
}
searx.viljarb.online {
	reverse_proxy searxng-core:8080 {
		header_up X-Real-IP {http.request.remote.host}
		header_up X-Forwarded-For {http.request.remote.host}
		header_up X-Forwarded-Proto {http.request.scheme}
		header_up X-Forwarded-Port {http.request.port}
		header_up Connection "close"
	}
}

localhost:80 {
	respond "this is localhost"
}
localhost:81 {
	respond "this is another localhost"
}
